# Super Sensor udev rules
# Install with: sudo cp 99-super-sensor.rules /etc/udev/rules.d/
# Reload with: sudo udevadm control --reload-rules && sudo udevadm trigger

# CH340 USB-Serial adapter (common on Arduino Nano clones)
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", ATTRS{idProduct}=="7523", SYMLINK+="super_sensor", MODE="0666", GROUP="dialout"

# FTDI USB-Serial adapter (some Arduino boards)
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE="0666", GROUP="dialout"

# Arduino Nano (genuine)
SUBSYSTEM=="tty", ATTRS{idVendor}=="2341", ATTRS{idProduct}=="0043", MODE="0666", GROUP="dialout"
