# ESP32 DevKitV1 (WROOM-32, CP2102 USB-serial)
CONFIG_IDF_TARGET="esp32"

# Flash
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESPTOOLPY_FLASHMODE_DIO=y
CONFIG_ESPTOOLPY_FLASHFREQ_40M=y

# Log level
CONFIG_LOG_DEFAULT_LEVEL_INFO=y
